{% extends 'base.html' %} 
{% load widget_tweaks %}

{% block content %}

{{ form.course.label_tag }}
{% render_field form.course class='custom-select mb-4' autocomplete="off" hx-get="/modules/" hx-target="#id_modules" %}

<!-- <select class="custom-select mb-4" name="course"
        hx-get="{% url 'modules' %}"
        hx-target="#modules"
        hx-indicator=".htmx-indicator">

    <option selected>Open this select menu</option>
    
    {% for course in courses %}
        <option value="{{course.pk}}">{{ course.name }}</option>
    {% endfor %}
</select> -->

{{ form.modules.label_tag }}
{% render_field form.modules class='custom-select mb-4' hx-get="/submodules/" hx-target="#id_submodules" %}

{{ form.submodules.label_tag }}
{% render_field form.submodules class='custom-select mb-4' %}

{% comment %} <div id="modules">
    {% include 'partials/modules.html' %}
</div> {% endcomment %}
{% endblock %}